.user-section-container {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  
  h1.title {
    font-family: 'Work Sans';
    font-size: 2.4rem;
    color: #213F7D;
    font-weight: 500;
  }

  .user-analytics-cards {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }
  .users-list {
    padding-bottom: 8rem;
  }
}